<body>
    <h2 style="padding: 20px;">❤️‍🔥방명록 리스트❤️‍🔥</h2>
    <button onclick="location.href='/board/write'" style="margin-left: 20px; ">✍🏻방명록 등록</button>
    <button onclick="location.href='/'" style="margin-left: 10px;">🏠 돌아가기</button><br>
    <table border="1" style="width: 500px; padding: 20px; margin-left: 20px;">
        <tr style="text-align: center;">
            <td>번호</td>&nbsp;&nbsp;
            <td>방명록</td>&nbsp;&nbsp;&nbsp;
            <td>이름</td>&nbsp;&nbsp;
            <td>날짜</td>&nbsp;&nbsp;
            <td></td>
        </tr>
        {% for item in content %}
        <tr style="text-align: center;">
            <td>{{item.num}}</td>
            <td>{{item.title}}</td>
            <td>{{item.username}}</td>
            <td>{{item.date}}</td>
            <td><a href="/board/view" style="padding: 20px;">자세히 보기</a></td>
        {% endfor %}
        </tr>
    </table>
</body>