<body>
    <h1><a href="/">애라니네 BOARD</a></h1>
    <h2>게시글 작성</h2>
    <form method="post" action="/board/write">
        <ul>
            <li>
                Title: <input type="text" name="title">
            </li>
            <li>
                Name: <input type="text" name="username">
            </li>
            <li>
                Date: <input type="text" name="date">
            </li>
            <li>
                Content: <input type="text" name="content">
            </li>
        </ul>
        <input type="submit" value="등록">
    </form>
    
</body>